body {
	font-size: 20px;
}

label {
	color: #fed136;
	font-size: 30px;
	font-weight: 700;
	line-height: 44px;
}

section h2.section-heading {
	margin-bottom: 1.5em;
	font-size: 50px;
}

li {
	list-style-type: none;
}

.form-control {
	font-size: 18px;
}

.text-danger {
	text-align: left;
}

.header {
	padding-top: 100px;
}