body {
	font-size: 20px;
}

label {
	color: #fed136;
	font-size: 30px;
	font-weight: 700;
	line-height: 44px;
}

section h2.section-heading {
	margin-bottom: 1.5em;
	font-size: 50px;
}

li {
	list-style-type: none;
}

.form-control {
	font-size: 18px;
}

.text-danger {
	text-align: left;
}

.header {
	padding: 120px 0 20px 0;
}

#signup,
#signin {
	min-height: 100vh;
	margin-bottom: 50px;
}

.sign_up .header,
.sign_in .header {
	padding: 200px 0 20px 0;
}

.sign_up,
.sign_in {
	background-color: #222;
	background-image: url(../img/map-image.png);
	background-position: center;
	background-repeat: no-repeat;
}

footer {
	background: #ffffff;
}

.portfolio-caption .btn-xl {
	padding: 6px 12px;
	font-size: 20px;
}

.btn_smail {
	padding: 6px 12px;
	font-size: 16px;
}

#portfolio .portfolio-item .portfolio-caption p  {
	font-style: normal;
	font-size: 26px;
	padding-bottom: 1.5em;
}

.product_page {
	background-color: #000000;
}

.panel-title {
	font-size: 26px;
}

.table {
	display: table;
}

.th,
.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.header .container {
	padding-left: 0;
	padding-right: 0;
}

.portfolio_hover:hover .portfolio_hover_img img {
	background: rgba(254,209,54,.9);
	opacity: 0.5;
}

.panel .panel-title a {
	text-decoration: none;
}

.product_img,
.product_info {
	padding: 5px;
}

.product_img img {
	max-width: 100%;
	border-radius: 5px;
}

.product_info,
.product_btn {
	margin: 20px;
}

.product_note {
	margin: 10px;
	font-style: italic;
	font-size: 20px;
	color: #5e5e5e;
}

.breadcrumb {
	padding: 0;
	margin: 0;
}

.portfolio-caption h3 {
	padding-top: 0;
	padding-bottom: 0;
	padding: 15px 0;
}

.panel-body label {
	color: #000;
	font-size: 20px;
}

.panel-body .form-group,
.panel-body label {
	margin-bottom: 0;
	margin-left: 2em;
}
