body {
	font-size: 20px;
}

label {
	color: #fed136;
	font-size: 30px;
	font-weight: 700;
	line-height: 44px;
}

section h2.section-heading {
	margin-bottom: 1.5em;
	font-size: 50px;
}

li {
	list-style-type: none;
}

.form-control {
	font-size: 18px;
}

.text-danger {
	text-align: left;
}

.header {
	padding: 120px 0 20px 0;
}

.portfolio-caption .btn-xl {
	padding: 6px 12px;
	font-size: 16px;
}

.btn_smail {
	padding: 6px 12px;
	font-size: 16px;
}

#portfolio .portfolio-item .portfolio-caption p  {
	font-style: normal;
	font-size: 26px;
	padding-bottom: 1.5em;
}

.product_page {
	background-color: #000000;
}

.panel-title {
	font-size: 26px;
}

.table {
	display: table;
}

.th,
.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.header .container {
	padding-left: 0;
	padding-right: 0;
}